In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('./dataset/ml-latest/ratings.csv',sep=',').drop(columns='timestamp')

In [7]:
df

          userId  movieId  rating
0              1      307     3.5
1              1      481     3.5
2              1     1091     1.5
3              1     1257     4.5
4              1     1449     4.5
...          ...      ...     ...
27753439  283228     8542     4.5
27753440  283228     8712     4.5
27753441  283228    34405     4.5
27753442  283228    44761     4.5
27753443  283228    54286     4.5

[27753444 rows x 3 columns]

In [12]:
df["userId"]

0                1
1                1
2                1
3                1
4                1
             ...
27753439    283228
27753440    283228
27753441    283228
27753442    283228
27753443    283228
Name: userId, Length: 27753444, dtype: int64

In [52]:
rating_user_sum={}
rating_movie_sum={}
overall_sum=0
for idx,row in df.iterrows():
    try:
        rating_user = rating_user_sum[row['userId']]+row['rating']
    except KeyError:
        rating_user = row['rating']
    rating_user_sum[row['userId']]=rating_user
    
    try:
        rating_movie = rating_movie_sum[row['movieId']]+row['rating']
    except KeyError:
        rating_movie = row['movieId']
    rating_movie_sum[row['movieId']]=rating_movie
    overall_sum+=row['rating']

In [63]:
bias_user = {}
bias_movie = {}
for key,value in uId_dict.items():
    bias_user[key]=rating_user_sum[key]/value
    
for key,value in mId_dict.items():
    bias_movie[key]=rating_movie_sum[key]/value
    
avg_rating = overall_sum/len(df)
avg_rating

3.501556983616962

In [1]:
def test():
    bias_user = {}
    bias_movie = {}
    for key,value in uId_dict.items():
        bias_user[key]=rating_user_sum[key]/value

    for key,value in mId_dict.items():
        bias_movie[key]=rating_movie_sum[key]/value

    return bias_user,bias_movie